<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BigMath" version="0.5.0" targetFramework="net452" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net452" />
  <package id="System.Memory" version="4.5.3" targetFramework="net452" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net452" />
</packages>